body{
    font-family: 'Open Sans', sans-serif;
}

.heading{
    background-image: linear-gradient(to bottom , rgba(8, 10, 17, 0.801), rgba(75, 56, 70, 0.103)) ,url('../resources/banner1.png');
    background-repeat: no-repeat;
    margin: auto;
    width: 1300px;
    height: 600px;  

}
.new-year{
    color: white;
    text-align: center;
    padding: 160px 340px;
    color: rgb(243, 237, 237);
}
.bold-line{
    font-size: 60px;
    
}