body{
    font-family: 'Open Sans', sans-serif;
}

.heading{
    background-image: linear-gradient(to bottom , rgba(8, 10, 17, 0.801), rgba(75, 56, 70, 0.103)) ,url('../resources/banner1.png');
    background-repeat: no-repeat;
    margin: 5px auto;
    width: 1300px;
    height: 600px;  
    border-radius: 10px;

}
.new-year{
    color: white;
    text-align: center;
    padding: 160px 340px;
    color: rgb(243, 237, 237);
}
.bold-line{
    font-size: 60px;
    
}

.sale-description{
    text-align: center;
    
}
.section-title{
    font-size: 65px;
    color: red;
    
    
}
.section-idea{
    color: red;
    margin: 15px 1px;
}
.section-catagories{
    font-size: 30px;
}
#new-year-img{
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.party-description{
    background-image:linear-gradient(to left , rgba(78, 78, 75, 0.233), rgba(34, 30, 34, 0.938)) , url('../resources/Vectorrr.png') ;
    background-repeat: no-repeat;
    margin: 10px auto;
    width: 1300px;
    height: 600px;  
    border-radius: 10px;
    display: flex;

}
.section-heading, .section-description{
    text-align: left;
}
.text-column{
    margin-top: 130px;
    margin-left: 130px;
    margin-right: 400px;
}

.section-heading{
    font-size: 60px;
    color: white;
}

.section-description{
    font-size: 15px;
    color: white;
}
.btn-primary{
    border: 0;
    color: rgb(156, 148, 148);
    background: none;
    font-size:15px;


}

.img-column{
    
    background-blend-mode:multiply;
    mix-blend-mode:normal;
    padding-right: 150px;
    padding-top: 60px;

    
}