body {
    font-family: 'Open Sans', sans-serif;
}

.heading {
    background-image: linear-gradient(to bottom, rgba(8, 10, 17, 0.801), rgba(75, 56, 70, 0.103)), url('../resources/banner1.png');
    background-repeat: no-repeat;
    margin: 5px 20px;
    width: 1300px;
    height: 600px;
    border-radius: 10px;

}

.new-year {
    color: white;
    text-align: center;
    padding: 160px 340px;
    color: rgb(243, 237, 237);
}

.bold-line {
    font-size: 60px;

}

.sale-description {
    text-align: center;

}

.section-title {
    font-size: 65px;
    color: red;


}

.section-idea {
    color: red;
    margin: 15px 1px;
}

.section-catagories {
    font-size: 30px;
}

#new-year-img {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.party-description {
    background-image: linear-gradient(to left, rgba(78, 78, 75, 0.233), rgba(34, 30, 34, 0.938)), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 10px 20px;
    width: 1300px;
    height: 600px;
    border-radius: 10px;
    display: flex;

}

.section-heading,
.section-description {
    text-align: left;
}

.text-column {
    margin-top: 130px;
    margin-left: 130px;
    margin-right: 100px;
}

.section-heading {
    font-size: 60px;
    color: white;
}

.section-description {
    font-size: 15px;
    color: white;
}

.btn-primary {
    border: 0;
    color: rgb(156, 148, 148);
    background: none;
    font-size: 15px;


}

.img-column {

    background-blend-mode: multiply;
    mix-blend-mode: lighten;
    padding-right: 150px;
    padding-top: 60px;


}

.timing-container {

    width: 1300px;
    height: 400px;
    text-align: center;
    margin: 50px 20px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);


}

.party-time {
    font-size: 20px;
    width: 50%;
    padding: 100px 350px 0px 350px;


}

.line-heading {
    color: red;
}

.joining-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.section-offer {
    display: flex;
    height: 460px;
    width: 1300px;
    margin-left: 20px;
}

.coming-offer {
    flex: 1;
    margin: 10px;

}

.offer-paragraph {
    font-size: 15px;
    width: 400px;
    line-height: 20px;
    color: rgb(56, 52, 52);

}

.enjoying-offer {

    margin: 10px;
    width: 350px;
    height: 350px;
    border: 10px solid red;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;

}

.year-offer {
    flex: 1;
    margin: 20px;
    padding-left: 50px;
}

.year-heading {
    color: red;
}

.offer-concept {
    width: 1300px;
    height: 600px;
    background-color: white;
    
}

.offer-content {
    text-align: center;
    margin: 0;
}

.content-paragraph {
    font-size: 15px;
    padding-left: 260px;
    padding-right: 260px;
    line-height: 20px;
    color: rgb(56, 52, 52);
    text-align: center;
    margin: 0px;
}

.holidays {
    font-size: 60px;
    margin: 0px;
}

.red-holiday {
    color: red;
}

.offer-image {
    display: flex;
    max-width: 1300px;
    height: auto;
    position: relative;
    margin: 0px;
    padding: 0;
} 

.overlape {

    align-items: end;
    display: flex;
    display: inline-flex;
}



.girl-image {

    width: 100%;
    display: block;



}

.circle-image {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 40%; 
    overflow: hidden;
    display: block;
    width: 100%; 
    position: relative;
     

}
.offer-box{
    margin-left: 20px;
    background-image: url('../resources/rectangle2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 30%;
}


.portfolio-details{
    width: 1300px;
    max-height: 600px;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.portfolio-section{
    
    margin: 20px;
}


.image-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.image-row img{
    width: 30%;
    height: auto;
}

.subscribe-section{
    width: 1300px;
    height: 500px;
    text-align: center;
    margin-top: 500px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 15px;
    margin-left: 20px;
    
}

.subscribe-image{
    padding-top: 50px;
}

.subscribe-input{
    padding: 30px;
}
   
#email{
    margin: 0px;
    width: 400px;
    height: 35px;
    border-radius: 50px 0px 0px 50px;
    border: none;
   
}

#subscribe{
    margin: 0px;
    height: 35px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background-color: red;
    color: white;

}

